@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 35 100% 98%;
    --foreground: 0 0% 0%;

    --card: 35 100% 98%;
    --card-foreground: 0 0% 0%;

    --popover: 35 100% 98%;
    --popover-foreground: 0 0% 0%;

    --primary: 28 71% 61%;
    --primary-foreground: 35 100% 98%;

    --secondary: 33 79% 87%;
    --secondary-foreground: 0 0% 0%;

    --muted: 33 30% 85%;
    --muted-foreground: 33 11% 50%;

    --accent: 28 90% 73%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 35 100% 98%;

    --border: 33 21% 78%;
    --input: 33 21% 78%;
    --ring: 28 71% 61%;

    --radius: 0.75rem;
    
    --brand-cream: 35 100% 98%;
    --brand-beige: 33 79% 87%;
    --brand-orange-light: 35 78% 78%;
    --brand-gray: 33 21% 78%;
    --brand-beige-light: 33 30% 85%;
    --brand-orange: 28 90% 73%;
    --brand-orange-dark: 28 71% 61%;
    --brand-brown-gray: 33 15% 66%;
    --brand-brown: 33 11% 50%;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 33 11% 20%;
    --foreground: 35 100% 98%;

    --card: 33 11% 25%;
    --card-foreground: 35 100% 98%;

    --popover: 33 11% 25%;
    --popover-foreground: 35 100% 98%;

    --primary: 28 90% 73%;
    --primary-foreground: 0 0% 0%;

    --secondary: 33 15% 35%;
    --secondary-foreground: 35 100% 98%;

    --muted: 33 11% 30%;
    --muted-foreground: 33 21% 78%;

    --accent: 28 71% 61%;
    --accent-foreground: 35 100% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 35 100% 98%;

    --border: 33 11% 35%;
    --input: 33 11% 35%;
    --ring: 28 90% 73%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@font-face {
  font-family: 'HT Heliopolis';
  src: url('/fonts/HT_Heliopolis_Regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'HT Heliopolis';
  src: url('/fonts/HT_Heliopolis_Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-heliopolis;
  }
  
  html {
    scroll-behavior: smooth;
  }
}
